.DS_Store
*.dat
*.txt
Thumbs.db
#Ignore files build by Visual Studio
objs/
libs/
[Dd]ebug/
[Dd]ebug.win32/
*.vcxproj
*.filters
*.h
*.sdf
*.opensdf
*.obj
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
build
temporary
rcdata
ipch
